<a href="https://colab.research.google.com/github/anjilashrestha1/Workshop-2/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Python Output

In [1]:
# print function
# python is a case sensitive language
print("Hello World!")

Hello World!

In [2]:
print('Salman Khan')

Salman Khan

In [3]:
print(7)

7

In [4]:
print(7.7)

7.7

In [5]:
print(True)

True

In [6]:
print("Hello",1,4.5,True)

Hello 1 4.5 True

In [7]:
print("Hello",1,4.5,True,sep='/')

Hello/1/4.5/True

In [9]:
print('Hell0')
print('World')

Hell0
World

In [10]:
print('Hell0',end='-')
print('World')

Hell0-World

#2. Data Type

In [12]:
# Integer
print(8)
# 1*10^309
print(1e309)

8
inf

In [13]:
#Decimal
print(8.55)
print(1.7e309)

8.55
inf

In [14]:
#Boolean
print(True) #Boolean is not text
print(False)

True
False

In [15]:
# Text/ String
print('Hello World')

Hello World

In [16]:
#complex number
print(5+6j)

(5+6j)

In [17]:
#List
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [19]:
#Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [20]:
#Sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [22]:
#Dictionary
print({'name':'Nitesh', 'Age':'20','gender':'male'})

{'name': 'Nitesh', 'Age': '20', 'gender': 'male'}

In [25]:
# type function
type(3)

int

#3. Variables- containers for future use

In [28]:
# In python we do not need to declare variable type or name
# variable is created whenever needed
name = 'Nitesh'
print(name)

a = 5
b = 6
print(a+b)

Nitesh
11

In [30]:
# Dynamic Typing - where we do not tell the data type. Python's intrepetor automatically detect data type by seeing the input variables
# static typing - where variable's data type is declared along with variable's name
# Static Binding- Once you declare data type for the variable then it cannot be changed throughtout the program. C/C++ support static binding

In [31]:
# Dynamic Binding
a = 5  # In python there is no fixed Data type for the variable you create.
print(a)
a = 'nitish'
print(a)

5
nitish

In [32]:
# way of creating variables
a = 1
b = 2
c = 3
print(a,b,c)

1 2 3

In [34]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [36]:
a = b = c = 5
print(a,b,c)

5 5 5

#Comments

In [38]:
# This is a comment
# second line
a = 4
b = 6 #like this
# second comment
print(a+b)

10

#4. Keywords & Identifiers

In [ ]:
# Keywords

In [41]:
# Identifiers
# Rules for identifiers
# 1. You can't start with a digit.
# 2. You can use uppercase, lowercase, digits but only use '_' in special character. Other special characters are not allowed
# 3. identifiers can not be keywords

#5. User Input

In [42]:
# static Vs dynamic
input()

Anjila

'Anjila'

In [43]:
# adding message in input function
input('Enter name')

Enter nameAnjila

'Anjila'

In [47]:
# take input from users and store then in a variable
fnum = input('Enter first number')
snum = input('Enter second number')
# add the two variables
result = fnum + snum
# print the result
print(result)  #this give error. why?

Enter first number45
Enter second number56
4556

In [48]:
# error corrected
# first check the type
fnum = input('Enter first number')
snum = input('Enter second number')
print(type(fnum),type(snum)) #both input given are in string format so it did not add as we expect. and this is default format.
result = fnum + snum          #To solve this problem we need to change data type
# add the two variables
# print the result
print(result)

Enter first number45
Enter second number56
<class 'str'> <class 'str'>
4556

#6. Type Conversion

In [49]:
# Implicit - handeled on own
print(5+5.6)
print(type(5),type(5.6))

10.6
<class 'int'> <class 'float'>

In [51]:
# Explicit conversion
# convert str -> int
print(4 + int('4'))
int(4+5j)  # type converion happens when it is possible to do so.

8

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [52]:
# int to str
str(5)

# float
float(4)

4.0

In [55]:
# error corrected
# first check the type
fnum = input('Enter first number')
snum = input('Enter second number')
print(type(fnum),type(snum)) #both input given are in string format so it did not add as we expect. and this is default format.
# connvert type from str to int
result = int(fnum) + int(snum)          #To solve this problem we need to change data type
# add the two variables
# print the result
print(result)
print(type(fnum)) #type of fnum will not change after the result. this is because new value is created in result.

Enter first number45
Enter second number56
<class 'str'> <class 'str'>
101
<class 'str'>

In [56]:
# if type conversion is done at the start of taking input then type will remain int
# first check the type
fnum = int(input('Enter first number'))
snum = int(input('Enter second number'))
print(type(fnum),type(snum))
result = fnum + snum
# add the two variables
# print the result
print(result)
print(type(fnum))

Enter first number45
Enter second number56
<class 'int'> <class 'int'>
101
<class 'int'>

#7. Literals

In [60]:
# raw values stored under variables are literals
# setting literals
a = 0b1010 #Binary literals
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal
print(a,b,c,d)

10 100 200 300

In [62]:
#float literals
float_1 = 10.5
float_2 = 1.5e2 #1.5*10^5
float_3 = 1.5e-3 #1.5*10^-3
print(float_1,float_2,float_3)

10.5 150.0 0.0015

In [67]:
# Complex literals
x = 3.14j
print(x)
print(x.real)
print(x.imag)

3.14j
0.0
3.14

In [ ]:
# How to handel string in python
# 1. use single '  '.
# 2. use double "  ".
# 3. use triple """  """. # used when when we have multiline string.
# can use unicode string like smilies by adding 'u' inform of string.
# can use raw string by adding 'r' infront of string.

In [69]:
# example
string = 'This is Python'
strings = "This is Python"
char = 'C'
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
😀😆🤣
raw \n string


#Boolean

In [70]:
# in python True = 1 and False = 0
a = True + 4
b = False + 10

print("a:",a)
print("b:",b)

a: 5
b: 10

#None

In [72]:
a = None
print(a)

None

In [75]:
# In python you cannit declare a variable before hand. To solve this problem None is used. This wont give any error or affect program.
k = None
a = 5
b = 6
print('Program exe')

Program exe